* {
  margin: 0;
  padding: 0;
}

body, html {
 height:100%;
 width:100%;
 overflow:auto;
}

#popup_span {
  background-color: #535b63;
  color: #ffffff;
  position: fixed;
  padding: 2vw;
}


#warning{
  font-size: 4vw;
  width: 100%;
  height: 10.0vw;
  text-align: center;
}

.login-form {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 5vw;
  font-family: Tahoma, Geneva, sans-serif;
}
.login-form input[type="password"],
.login-form input[type="text"] {
  font-size: 4vw;
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.login-form input[type="submit"] {
  width: 50%;
  margin-left: 25%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

#left{
  float: left;
}


/* mandos del proyector */

.boton_imagen{
  position: relative;
  display: inline-block;
}
button {
  cursor: pointer;
}

.boton_imagen .mandos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  outline: 0;
}

.boton_imagen .mandos:hover {
  background-color: transparent;
}



/* interruptor proyector */

#boton_imagen_alternador{
  position: relative;
  display: block;
}

#left_inf{
  overflow-y: auto;
}

/* botones de usuario */

.unified_controls{
  display: block;
  position: relative;
}

.quartet_div{
  display: block;
  position: relative;
}
.video_div{
  display: block;
  position: relative;
}
.user_button{
  display: block;
  position: relative;
  background-color: 'white';
  outline: 0;
  border: none;
}

#main_div{
  display: none;
  width:100%;
  height:100%;
}

#contenedor{
  /*position: relative;*/
  float: left;
}
#frame_aux{
  width:100%;
  height:100%;
  display: block;
}

#frame_canvas{
  width:100%;
  height:100%;
  display: block;
}

canvas {
  position: relative;    
  display: block;
}


#menu {
  position: relative;    
  width: 100%;
  text-align: center;
  user-select: none;
  pointer-events: none;
}

span.submenu {
  display: inline-block;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 25px;
  user-select: none;
  pointer-events: auto;
}

span.submenu.info {
  position: absolute;
  background: transparent;
}

#board_controls span {
  cursor: pointer;
  font-size: x-large;
}
.menu_elements{
  padding: 0.5vw;
}

@media only screen and (min-width: 768px) {

  #warning{
    font-size: 1.5vw;
    width: 100%;
    height: 5.0vw;
    text-align: center;
  }
  
  .login-form {
    width: 25vw;
    margin-left: 37.5vw;
    margin-top: 2.5vw;
    font-family: Tahoma, Geneva, sans-serif;
  }
  .login-form input[type="password"],
  .login-form input[type="text"] {
    font-size: 1.5vw;
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
  }
  .login-form input[type="submit"] {
    width: 50%;
    margin-left: 25%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5vw;
  }
  
  #board_controls span{
    font-size: x-large;
  }
}  



